<ion-view title="Menu" id="page5" ng-controller="menuCtrl">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <button ng-click="optionGastos()" ng-controller="gastoCtrl" id="menu-button6" class="button button-dark  button-block icon-left ion-cash">Gastos</button>
    <button ng-click="optionPrestamo()" id="menu-button7" class="button button-dark  button-block icon-left ion-thumbsup">Prestamos</button>
    <button ng-click="sesion()" id="menu-button7" class="button button-dark  button-block icon-left ion-person">Inicio de Sesion</button>
  </ion-content>
</ion-view>